
Host *
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent ${SSH_AUTH_SOCK}
{{- end }}

Host github.com
    User git
{{- if eq .chezmoi.os "darwin" }}
    ForwardAgent yes
{{- else }}
    IdentityFile ~/.ssh/id_github
{{- end }}

Host hpc_dtu
    HostName login.hpc.dtu.dk
    User s214960
    ForwardAgent yes


